forward/simulations/**
forward/simulations-**/**
forward/simulations*
forward/procyonA/**
forward/procyonB/**
inverse/perturb/**
giants

**/M=**
**/photos/**
**/make/**

**.fgong
**.FGONG
**.GYRE
**.data
**.log
**.g1k
**.amde
**.dat
**.1
**.o

**~

**/LOGS/**
**/LOGS_MS/**
**/LOGS_SG/**

**/giants/**
**/*data*/**
**/maybe_sub_logs/**
**/maybe_sub_logs*/**
**/*plots*/**
**/old/**
**/learn/**
**/learn_*/**
**/learn_covs*/**
**/learn_tables*/**
**/__pycache__/**
**.png
**.pdf
