**/simulations/**
**/simulations-**/**
**/simulations*
**/*simulations*/**
**/testing/**

**/*plots*/**

**/old/**
**/*old*/**

**/test/**
**/*test*/**

**/learn/**
**/*learn*/**
**/learn_*/**
**/learn_covs*/**
**/learn_tables*/**
**/perturb/**

forward/procyonA/**
forward/procyonB/**
**/compare/ik/**
**/save/**

**/*diffusion*/**

**/M\=*/**
**/photos/**
**/make/**

**/*.fgong
**/*.FGONG
**/*.GYRE
**/*.data
**/*.log
**/*.g1k
**/*.amde
**/*.agsm
**/*.amdl
**/*.freq
**/*.ssm
**/*.dat
**/*.1
**/*.9
**/*.o
**/*.mod
**/*.log
**/*.out
**/*.bkp
**/*.bak
**/*.x
**/*.avi
**/*.mp4
**/*~
**/*.png
**/*.pdf
**/*.eps
**/.*
**/*.list*

**/LOGS/**
**/LOGS_MS/**
**/LOGS_SG/**
**/*LOGS*/**

**/*data*/**
**/maybe_sub_logs/**
**/maybe_sub_logs*/**
**/__pycache__/**

**/*mesa*/**
**/mesa/**
**/src/**
**/make/**
**/photos/**

**/clean
**/re
**/rn
**/star
**/mk
**/sed*

scripts/gamder/OPAL2005
**/EOS*

**/psi/**
**/**-freqs/**

